@model List<Model.Entities.Comprobante>
@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    <h1>Snack Store</h1>
</div>

<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/home/login">Login</a><a class="btn btn-primary pull-right" href="~/home/principal">Guest</a>
    Bienvenido
</h2>

<img class="center-block" src="~/Imagen/snacks.jpg" alt="Solvetic">
